<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>atka1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {52, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{441, 204}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bee4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 22}</string>
			<key>spriteSourceSize</key>
			<string>{60, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 251}, {60, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>beeDies.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 34}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{454, 73}, {40, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bird0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 18}, {100, 49}}</string>
			<key>spriteOffset</key>
			<string>{5, 14}</string>
			<key>spriteSize</key>
			<string>{100, 49}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 250}, {100, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bird1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 19}, {100, 47}}</string>
			<key>spriteOffset</key>
			<string>{5, 14}</string>
			<key>spriteSize</key>
			<string>{100, 47}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{339, 202}, {100, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bird2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 20}, {100, 47}}</string>
			<key>spriteOffset</key>
			<string>{5, 13}</string>
			<key>spriteSize</key>
			<string>{100, 47}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 202}, {100, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bird3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 21}, {100, 45}}</string>
			<key>spriteOffset</key>
			<string>{5, 13}</string>
			<key>spriteSize</key>
			<string>{100, 45}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 251}, {100, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bird4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 22}, {100, 45}}</string>
			<key>spriteOffset</key>
			<string>{5, 12}</string>
			<key>spriteSize</key>
			<string>{100, 45}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 267}, {100, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bird5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 23}, {100, 43}}</string>
			<key>spriteOffset</key>
			<string>{5, 12}</string>
			<key>spriteSize</key>
			<string>{100, 43}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 301}, {100, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bird6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 24}, {102, 43}}</string>
			<key>spriteOffset</key>
			<string>{6, 11}</string>
			<key>spriteSize</key>
			<string>{102, 43}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 160}, {102, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bird7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 24}, {102, 43}}</string>
			<key>spriteOffset</key>
			<string>{6, 11}</string>
			<key>spriteSize</key>
			<string>{102, 43}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 160}, {102, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bird8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 24}, {102, 43}}</string>
			<key>spriteOffset</key>
			<string>{6, 11}</string>
			<key>spriteSize</key>
			<string>{102, 43}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 205}, {102, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blueFlower.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 29}</string>
			<key>spriteSourceSize</key>
			<string>{30, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{454, 173}, {30, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloudsmall.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 158}</string>
			<key>spriteSourceSize</key>
			<string>{250, 158}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {250, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>emptySlot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{454, 109}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fireball_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 27}, {160, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 200}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 0}, {200, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fly.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 42}</string>
			<key>spriteSourceSize</key>
			<string>{40, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{454, 29}, {40, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {88, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 60}</string>
			<key>spriteSourceSize</key>
			<string>{100, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 205}, {100, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>leftOrnament.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 27}</string>
			<key>spriteSourceSize</key>
			<string>{50, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{454, 0}, {50, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pauseButton-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {16, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{454, 141}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redFlower.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 30}</string>
			<key>spriteSourceSize</key>
			<string>{27, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{208, 191}, {27, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellowFlower.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 29}</string>
			<key>spriteSourceSize</key>
			<string>{30, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{208, 160}, {30, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>beeSprites2.zwd</string>
		<key>premultipliedAlpha</key>
		<true/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>