<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bat.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 12}, {50, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 76}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 217}, {50, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bee4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 22}</string>
			<key>spriteSourceSize</key>
			<string>{60, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 336}, {60, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>beeDies.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 32}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{36, 32}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 371}, {36, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blueFlower.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 29}</string>
			<key>spriteSourceSize</key>
			<string>{30, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 437}, {30, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bombButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 437}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottom.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 72}</string>
			<key>spriteSourceSize</key>
			<string>{480, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {480, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>emptySlot.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 469}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>leftOrnament.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 27}</string>
			<key>spriteSourceSize</key>
			<string>{50, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 278}, {50, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pauseButton-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {16, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 2}, {16, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redFlower.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 30}</string>
			<key>spriteSourceSize</key>
			<string>{27, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{40, 371}, {27, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>respawnButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 405}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rock1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {101, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{101, 72}</string>
			<key>spriteSourceSize</key>
			<string>{101, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 204}, {101, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rock2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 88}</string>
			<key>spriteSourceSize</key>
			<string>{47, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 127}, {47, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rockparticle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 27}</string>
			<key>spriteSourceSize</key>
			<string>{30, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 307}, {30, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speedButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 405}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>top.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 49}</string>
			<key>spriteSourceSize</key>
			<string>{480, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 76}, {480, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>topRock1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 75}</string>
			<key>spriteSourceSize</key>
			<string>{120, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{51, 127}, {120, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>topRock2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 74}</string>
			<key>spriteSourceSize</key>
			<string>{52, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 295}, {52, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellowFlower.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 29}</string>
			<key>spriteSourceSize</key>
			<string>{30, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 468}, {30, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>