<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Particles</key>
	<true/>
	<key>Gfx</key>
	<integer>3</integer>
	<key>Music</key>
	<false/>
	<key>Sounds</key>
	<true/>
</dict>
</plist>
