<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Respawner</key>
	<dict>
		<key>Value</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>1</integer>
	</dict>
	<key>ComboFinisher</key>
	<dict>
		<key>Value</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>1</integer>
	</dict>
	<key>BeeMovement</key>
	<dict>
		<key>Value</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
