<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TimeRace</key>
	<dict/>
	<key>Survival</key>
	<dict>
		<key>NarrowSea</key>
		<dict>
			<key>unlocked</key>
			<true/>
			<key>completed</key>
			<false/>
			<key>sporeAvailable</key>
			<true/>
			<key>trapAvailable</key>
			<true/>
			<key>predatorSpeed</key>
			<real>3.2</real>
			<key>background</key>
			<string>bg3.png</string>
			<key>distanceToGoal</key>
			<integer>-1</integer>
			<key>highScoreDistance</key>
			<integer>0</integer>
			<key>highScorePoints</key>
			<integer>0</integer>
		</dict>
		<key>DarkCaves</key>
		<dict>
			<key>unlocked</key>
			<true/>
			<key>completed</key>
			<false/>
			<key>sporeAvailable</key>
			<true/>
			<key>trapAvailable</key>
			<true/>
			<key>predatorSpeed</key>
			<real>3.2</real>
			<key>background</key>
			<string>bgCave.png</string>
			<key>distanceToGoal</key>
			<integer>-1</integer>
			<key>highScoreDistance</key>
			<integer>0</integer>
			<key>highScorePoints</key>
			<integer>0</integer>
		</dict>
		<key>GreenHills</key>
		<dict>
			<key>unlocked</key>
			<true/>
			<key>completed</key>
			<false/>
			<key>sporeAvailable</key>
			<true/>
			<key>trapAvailable</key>
			<true/>
			<key>predatorSpeed</key>
			<real>3.2</real>
			<key>background</key>
			<string>bright1.png</string>
			<key>distanceToGoal</key>
			<integer>-1</integer>
			<key>highScoreDistance</key>
			<integer>0</integer>
			<key>highScorePoints</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Campaign</key>
	<dict>
		<key>6</key>
		<dict>
			<key>unlocked</key>
			<false/>
			<key>completed</key>
			<false/>
			<key>sporeAvailable</key>
			<false/>
			<key>trapAvailable</key>
			<false/>
			<key>predatorSpeed</key>
			<integer>0</integer>
			<key>background</key>
			<string>bgCave.png</string>
			<key>distanceToGoal</key>
			<integer>6000</integer>
			<key>highScoreDistance</key>
			<integer>0</integer>
			<key>highScorePoints</key>
			<integer>0</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>unlocked</key>
			<false/>
			<key>completed</key>
			<false/>
			<key>sporeAvailable</key>
			<false/>
			<key>trapAvailable</key>
			<false/>
			<key>predatorSpeed</key>
			<integer>0</integer>
			<key>background</key>
			<string>bgCave.png</string>
			<key>distanceToGoal</key>
			<integer>6000</integer>
			<key>highScoreDistance</key>
			<integer>0</integer>
			<key>highScorePoints</key>
			<integer>0</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>unlocked</key>
			<false/>
			<key>completed</key>
			<false/>
			<key>sporeAvailable</key>
			<false/>
			<key>trapAvailable</key>
			<false/>
			<key>predatorSpeed</key>
			<integer>0</integer>
			<key>background</key>
			<string>bgCave.png</string>
			<key>distanceToGoal</key>
			<integer>6000</integer>
			<key>highScoreDistance</key>
			<integer>0</integer>
			<key>highScorePoints</key>
			<integer>0</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>unlocked</key>
			<false/>
			<key>completed</key>
			<false/>
			<key>sporeAvailable</key>
			<true/>
			<key>trapAvailable</key>
			<true/>
			<key>predatorSpeed</key>
			<real>3.2</real>
			<key>background</key>
			<string>bg2.png</string>
			<key>distanceToGoal</key>
			<integer>6000</integer>
			<key>highScoreDistance</key>
			<integer>0</integer>
			<key>highScorePoints</key>
			<integer>0</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>unlocked</key>
			<false/>
			<key>completed</key>
			<false/>
			<key>sporeAvailable</key>
			<false/>
			<key>trapAvailable</key>
			<true/>
			<key>predatorSpeed</key>
			<real>3.2</real>
			<key>background</key>
			<string>bg1.png</string>
			<key>distanceToGoal</key>
			<integer>6000</integer>
			<key>highScoreDistance</key>
			<integer>0</integer>
			<key>highScorePoints</key>
			<integer>0</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>unlocked</key>
			<true/>
			<key>completed</key>
			<false/>
			<key>sporeAvailable</key>
			<false/>
			<key>trapAvailable</key>
			<false/>
			<key>predatorSpeed</key>
			<real>3.2</real>
			<key>background</key>
			<string>bright1.png</string>
			<key>distanceToGoal</key>
			<integer>6000</integer>
			<key>highScoreDistance</key>
			<integer>0</integer>
			<key>highScorePoints</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
